.navContainer {
  width: 210px;
  height: 100%;
}
.toggleAside {
  background-color: #00251080;
  color: #bcffd2;
  position: fixed;
  font-size: 50px;
  border-radius: 300px;
  padding: 5px 25px;
  text-align: center;
  bottom: 0px;
  left: 50px;
  margin: 15px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
.navContainer nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #002510;
  height: 100vh;
  z-index: 100;
}
.navContainer nav .logoutButton {
  margin-top: 30px;
  background-color: transparent;
  justify-self: end;
}
.navContainer header img {
  width: 100%;
  height: 200px;
}
ul li {
  display: flex;
  align-items: center;
  padding: 20px;
}
ul li svg {
  margin-right: 5px;
}
.mainContainer {
  background-color: #fafafa;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
@media (max-width: 768px) {
  .navContainer {
    background-color: #002510;
    width: 210px;
    position: absolute;
    display: none;
  }
  .toggleAside {
    display: block;
  }
}