.eventHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.eventHeader img {
  max-width: 800px;
  width: 100%;
  max-height: 400px;
  margin: 15px;
  border-radius: 10px;
}
.eventHeader h1 {
  margin: 10px;
  text-align: justify;
}
.buyTicket {
  background-color: #002510;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}
.eventDescription {
  width: 100%;
  max-width: 500px;
  margin: 30px;
}
.eventDescription p {
  margin-top: 10px;
  text-indent: 30px;
  overflow-wrap: break-word;
}
.eventInformations {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
}
.eventInformations .eventData,
.eventInformations .eventTicket,
.eventInformations .eventAddress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eventInformations .eventData div,
.eventInformations .eventTicket div,
.eventInformations .eventAddress div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.eventInformations div h3 {
  margin: 10px;
}