.nav-icon {
    color: white;
}

.btn-primary {
    background-color: #5AE090 !important;
    color: black !important;
    border-color: #5AE090;
    font-weight: 800;
}

.fixed-div {
    height: 100%;
    position: fixed;
}

.content {
    height: 1000px;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="image"],
input[type="currency"],
input[type="address"],
textarea {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.buttons {
    text-align: right;
    margin-top: 20px;
}