.nav-icon {
    color: white;
}

.btn-primary {
    background-color: #5AE090 !important;
    color: black !important;
    border-color: #5AE090;
    font-weight: 800;
}

.btn-secondary {
    color: black !important;
    font-weight: 800;
}

.fixed-div {
    height: 100%;
    position: fixed;
}

.content {
    height: 1000px;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="image"],
input[type="currency"],
input[type="address"],
textarea {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.buttons {
    text-align: right;
    margin-top: 20px;
}


.quadrado {
    width: 90%;
    height: 800px;
    background-color: rgba(194, 194, 194, 0.5); /* Cor de fundo com transparência */
    border: 1px solid #d7d7d7; /* Borda preta para destacar o quadrado */
    border-radius: 5px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

.pd {
    padding: 2%;
}

.custom-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; 
    border-bottom: 1px solid #ccc; 
    background-color: transparent; 
}

.custom-input:focus {
    box-shadow: none !important;
    border-color: #ccc !important; 
    background-color: rgba(255, 255, 255, 0);
}